<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit_buss</title>
    <style>
        .hide{
            display: none;
        }
    </style>
</head>
<body>
<form action="/edit_buss-{{ buss.id }}/" method="post">
    <input type="text" value="{{ buss.caption }}" name="caption" />
    <input type="text" value="{{ buss.code }}" name="code" />
    <input type="text" value="{{ buss.id }}" class="hide" name="bid" />
    <input type="submit" value="确认" />
</form>
</body>
</html>